.list{
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    background-color: #01131B;
    min-height: 300px;
}

.heading-sec{
    padding: 10px;
    color: #fff;
    min-height: 60px;
    background-color: #1686b0;
    padding: 10px;
}

.heading-title-text{
    font-size:14px;
}

.heading-sub-title-text-red-o{
    font-size:10px;
    color: #F3392F;
}

.res-text{
    margin-top:10px;
    color: #fff;
}

.and-class{
    font-size: 10px;
}